
@{
    ViewBag.Title = "Inspeção de Rotas";
    Layout = "~/Views/Shared/Home.cshtml";
}


@if (ViewBag.userSession == "false")
{
    <div style="background-image: url('../img/IconDisconected.png');" class="icon200x200"></div>
}
else
{
<script>
        $(document).ready(function () {

            $('#serial').focus();

            $("#serial").keyup(function (event) {

            if (event.which === 13) {

                AddSerialSetup();

            }
          });



        })


</script>

    <body>
        <h6 style="font-family:Calibri;text-align:center;font-size-adjust:inherit;">Inspeção Rotas</h6>
        <div class="container">
            <input class="form-control" id="filterKey" type="text" placeholder="Pesquisar...">
            <br>

            <input class="form-control" id="serial" type="text" placeholder="Adicionar Nº de Série ou Lote..." onblur="">
            <br>
            <table class="table table-sm table-hover" style="background-color:rgb(255, 255, 255); font-family:Calibri">
                <thead>
                    <tr>
                        <th>Nº de Série/Lote</th>
                        <th>comentário</th>
                        <th>Amostra</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody id="data">

                    @while (ViewBag.data.Read())
                    {
                        <tr>
                            <td ondblclick="AssemblyWorkOrder(@ViewBag.data["ID_N_SERIE_RECURSO"])"> @ViewBag.data["N_SERIE"]</td>
                            <td>@ViewBag.data["Comments"]</td>
                            <td>
                                <input type"number" class="form-control" value="@ViewBag.data["SampleQty"]" />
                            </td>
                            <td>@ViewBag.data["Status"]</td>
                            <td>
                                <div style="background-image: url('../img/delete.png');" class="icon20x20" id="linkCloseTimeRegiste" style="color: black ; font-size: 15px; " data-toggle="modal" data-target="#id_@ViewBag.data["ID"]" ondblclick="DeleteSerialSetup('@ViewBag.data["ID"]')"></div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </body>
}


